<div class="bg-login">
  <div class="container">
    <div class="row form-position">
      <div id="loginform" class="form-horizontal form-position">
        <div class="form-group">
          <label for="inputEmail3">账户：</label>
          
          <input type="email" [(ngModel)]="loginName" class="input-s" id="inputEmail3"
                 placeholder="LoginName">
        
        </div>
        <div class="form-group">
          <label for="inputPassword3">密码：</label>
          <input type="password" [(ngModel)]="password" class="input-s" id="inputPassword3"
                 placeholder="Password">
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label> <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="gotoDashboard()" class="btn btn-default">登录</button>&emsp;&emsp;
            <button type="button"  class="btn btn-default">注册</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

